ul
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
#announcement
{
    width: 100%;
    background: url() repeat;
    overflow: hidden;
}
#announcement div
{
    border: #e6e6e6 1px solid;
    padding: 0px 10px 0px 10px;
    overflow-y: hidden;
    line-height: 24px;
    height: 24px;
}
#announcement li
{
    font-size: 12px;
    float: left;
    list-style-type: none;
    margin-right: 20px;
    padding-left: 10px;
    background: url() no-repeat 0px 50%;
    white-space: nowrap;
}
#announcement a
{
    text-decoration: none;
}
#announcement a:hover
{
    text-decoration: underline;
}
