
body
{
    font-family: Verdana;
    font-size: 14px;
    margin: 0;
    background-color: #f5f5f5;
}

#container
{
    width: 960px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
#header
{
    background-attachment: scroll;
background-clip: border-box;
background-color: #488FCE;
background-image: none;
background-origin: padding-box;
box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 3px 0px;
color: #333;
display: block;
font-family: Arial;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 45px;
left: 0px;
line-height: 18px;
padding-top: 0px;
position: fixed;
top: 0px;
width: 1351px;
z-index: 10;
}
#menu
{
    height: 30px;
    margin-bottom: 5px;
    margin-top: 40px;
    background-color: #FFF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d4d4d4;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #F6F6F6;
    border-left-color: #F6F6F6;
}

#mainContent
{
    margin-bottom: 5px;
    position: relative;
}
#footer
{
    height: 60px;
    padding: 15px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-color: #CCC;
    border-right-color: #CCC;
    border-bottom-color: #CCC;
    border-left-color: #CCC;
}
#navhead
{
    width: 960px;
    margin: auto;
    padding: 0;
    min-height: 53px;
    vertical-align: middle;
}
#ulhead
{
    height: 40px;
    float: left;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 14px;
    margin-left: 10px;
    height: 45px;
}
#ulhead li a
{
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: 45px;
    font-size: 14px;
    padding: 0px 12px;
    vertical-align: middle; 
text-align: center; 
line-height: 45px;
}

#ulhead li
{
    float: left;
    height: 17px;
    vertical-align: middle; 
text-align: center; 
line-height: 50px;
}

#menuhead
{
    height: 40px;
    float: left;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
#menuhead li a
{
    color: #666666;
    display: block;
    float: left;
    line-height: 25px;
    height: 25px;
    font-size: 12px;
    padding: 0px 12px;
}

#menuhead li
{
    float: left;
}
#menuhead li a:hover
{
    color: #FFFFFF;
    background: none repeat scroll 0% 0% #aaaaaa;
    border-radius: 3px 3px 3px 3px;
    text-decoration: underline;
}
#logo
{
    float: left;
}
a
{
    color: #FFF;
    text-decoration: none;
}
#li_active
{
    color: rgb(255, 255, 255);
    background: none repeat scroll 0% 0% rgb(47, 106, 160);
    border-radius: 3px 3px 3px 3px;
}
#li_active:hover
{
    color: rgb(255, 255, 255);
    background: none repeat scroll 0% 0% rgb(47, 106, 160);
    border-radius: 3px 3px 3px 3px;
}
#ulhead li a:hover
{
    
}
ul
{
    list-style-type: none;
    margin-left: 1px;
}
h3
{
    font-size: 18px;
    color: #555555;
}
.zbutton
{
   -webkit-appearance: none;
button - button user agent stylesheet
-webkit-box-align: center;
background-attachment: scroll;
background-clip: border-box;
background-color: #3B7DC3;
background-image: url(http://tiyan.phpwind.net/themes/site/default/images/common/btn.png);
background-origin: padding-box;
background-position: 0px -120px;
border-bottom-color: #0C497C;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: #0E6191;
border-left-style: solid;
border-left-width: 1px;
border-right-color: #0E6191;
border-right-style: solid;
border-right-width: 1px;
border-top-color: #0F75A4;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: white;
cursor: pointer;
display: inline-block;
font-family: Arial;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 30px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;
margin-top: 0px;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 6px;
padding-left: 25px;
padding-right: 25px;
padding-top: 6px;
position: relative;
text-align: center;
text-decoration: none;
text-indent: 0px;
text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
text-transform: none;
vertical-align: middle;
white-space: nowrap;
width: 80px;
word-spacing: 0px;
zoom: 1;
}
.zleft
{
    float: left;
    background-color: white;
    border-radius: 3px 3px 3px 3px;
}
.zTextBox
{
    height: 20px;
    padding: 5px;
    border: 1px solid #CCCCCC;
    width: 220px;
    margin-bottom: 0px;
    border-radius: 3px 3px 3px 3px;
}
.zright
{
    float: right;
    border-radius: 3px 3px 3px 3px;
}
.zRadioRec
{
    border-radius: 3px 3px 3px 3px;
    background-color: #FFFFFF;
}
.zUserName
{
    placeholder: "用户名";
}
.zA
{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #666666;
    padding: 5px;
    color: #666666;
    line-height: 28px;
}
.zTable
{
    border-collapse: collapse;
    border: 1px ridge #C0C0C0;
}
.zTable th
{
    background-color: #DBDBDB;
    padding: 5px;
    color: #666666;
    border: 1px ridge #C0C0C0;
}
.zTable td
{
    padding: 5px;
    color: #666666;
    border: 1px ridge #C0C0C0;
    text-align: center;
}
.layPaddingAndCenter
{
    padding: 5px;
    text-align: center;
}
.layPadding
{
    padding: 5px;
}
.zPageBtn
{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F8F8F8;
    background-image: url(http://tiyan.phpwind.net/themes/site/default/images/common/btn.png);
    background-origin: padding-box;
    border-bottom-color: #B0B0B0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #BDBDBD;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #BDBDBD;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #C9C9C9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    color: #666;
    cursor: auto;
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 13px;
    line-height: 13px;
    margin-right: 3px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    text-decoration: none;
    vertical-align: top;
}
.zPageBtn:hover
{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #488FCF;
    background-image: none;
    background-origin: padding-box;
    border-bottom-color: #488FCF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #488FCF;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #488FCF;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #2470B5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    color: white;
    cursor: auto;
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 13px;
    line-height: 13px;
    margin-right: 3px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    text-decoration: none;
    vertical-align: top;
}
.zBlockLeft
{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: white;
    background-image: none;
    background-origin: padding-box;
    border-bottom-color: lightGrey;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #EFEFEF;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #EFEFEF;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.0195313) 0px 1px 1px 0px;
    color: #333;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 15px;
    padding-top: 0px;
    word-break: break-all;
    word-wrap: break-word;
    padding: 15px;
}
.zBorderPanel
{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: white;
    background-image: none;
    background-origin: padding-box;
    border-bottom-color: lightGrey;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #EFEFEF;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #EFEFEF;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.0195313) 0px 1px 1px 0px;
    color: #333;
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 15px;
    padding-top: 0px;
    word-break: break-all;
    word-wrap: break-word;
    padding: 15px;
}
.zTitle
{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    color: #333;
    display: inline;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: auto;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: auto;
}

.zBroadcast
{
    background-position: 2px 9px;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url(images/speaker.png);
    background-repeat: no-repeat;
    background-origin: padding-box;
    color: #333;
    display: list-item;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 28px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 18px;
    padding-top: 0px;
    text-align: -webkit-auto;
    width: 253px;
    margin-left: 10px;
    color: Gray;
}
.zMenuSelected
{
   background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: none;
background-origin: padding-box;
color: #333;
display: list-item;
float: left;
font-family: Arial;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 45px;
line-height: 50px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding-top: 0px;
text-align: -webkit-auto;
width: 52px;
}
.zMenuSeletcedA
{
    background-attachment: scroll;
background-clip: border-box;
background-color: #3B7FC4;
background-image: none;
background-origin: padding-box;
color: white;
cursor: auto;
display: block;
float: left;
font-family: Arial;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 45px;
line-height: 50px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
padding-bottom: 0px;
padding-left: 12px;
padding-right: 12px;
padding-top: 0px;
text-align: -webkit-auto;
text-decoration: none;
width: 28px;
}
.numbtn
{
    background-color: #F0F0F0;
    font-weight: bold;
    border: 1px solid #CCCCCC;
    color: #C0C0C0;
}