<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="db_ConnectionString" connectionString="Data Source=XIAOJUNTAO\XJW129XJT;Initial Catalog=zcoder;User ID=sa;Password=cyx276905621"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
