<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="db_ConnectionString" connectionString="Data Source=cyx;Initial Catalog=zcoder;User ID=sa;Password=cyx276905621" providerName="System.Data.SqlClient"/>
		<add name="masterConnectionString" connectionString="Data Source=PCOS-20120730ZZ\Sqlexpress2005;Initial Catalog=master;User ID=sa;Password=cyx276905621" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
	</system.web>
</configuration>
