.RSTable
{
    margin: auto;
    width: 95%;
    border-collapse: collapse;
}
.RSTableTR
{
    line-height: 28px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
    font-size: 12px;
    padding-top: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #CCCCCC;
}
